<nav-bar>
</nav-bar>
<div class="soil-boring-sample-container">
    <div class="project-header">
        <ion-grid>
            <ion-row>
                <ion-col class="back-page-button" col-1 col-md-1>
                    <ion-icon name="arrow-back" (click)="goBackToDetails()"></ion-icon>
                </ion-col>
                <ion-col col-6 col-md-6>
                    <div class="project-title">{{projectName}} : {{siteData.siteName}}</div>
                </ion-col>
                <ion-col col-5 col-md-5 class="icons-col">
                    <div class="activity-icons corner-icon">
                        <img src="assets/icon/WD complete_2.png" *ngIf="siteData.waterpump"
                        (click)="headerNavigation('wellcon')">
                        <img src="assets/icon/WD not complete_2.png" *ngIf="!siteData.waterpump">
                    </div>
                    <div class="activity-icons">
                        <img src="assets/icon/WD complete_1.png" *ngIf="siteData.soilSamples"
                        (click)="headerNavigation('well')">
                        <img src="assets/icon/WD not complete_1.png" *ngIf="!siteData.soilSamples">
                    </div>
                    <div class="activity-icons selected-activity">
                        <img src="assets/icon/SS complete.png" *ngIf="siteData.hydrocarbonSampling">
                        <img src="assets/icon/SS not complete.png" *ngIf="!siteData.hydrocarbonSampling">
                    </div>
                    <div class="activity-icons">
                        <img src="assets/icon/GWS complete.png" *ngIf="siteData.groundwaterSampling"
                        (click)="headerNavigation('groundwater')">
                        <img src="assets/icon/GWS not complete.png" *ngIf="!siteData.groundwaterSampling">
                    </div>
                    <div class="activity-icons margin-right ">
                        <img src="assets/icon/FLM complete.png" *ngIf="siteData.groundwaterLevelMeasurement" 
                        (click)="headerNavigation('fluidlevel')">
                        <img src="assets/icon/FLM not complete.png" *ngIf="!siteData.groundwaterLevelMeasurement">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="activity-input-container outer-scroll">
        <div class="soil-boring-image">
            <img style="width:100%;height:100%"src="assets/icon/soil-boring.png">
        </div>

        <div class="soil-boring-form">
            <ion-grid>
                <form [formGroup]="soilBoringSampleForm">
                    <div class="activity-heading top-heading">DEPTH INTERVAL</div>
                    <ion-row>
                        <ion-col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 class="expand-col">
                            <ion-card class="card-three">
                                <ion-card-content>
                                    <div class="activity-card-content input-container-height">
                                        <div class="dropdown-container space-right space-right-potrait">
                                            <div class="dropdown-label">From</div>
                                            <div class="form-input">
                                                <ion-input type="number" (keyup)="changeDepthFrom(fromDepth)" maxlength="5" [(ngModel)]="fromDepth" formControlName="fromDepth"></ion-input>
                                                <span class="unit">ft</span>
                                                <div *ngIf="!pattern" class="valid-msg">Must be a valid entry eg(22.22)</div>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right">
                                            <div class="dropdown-label">To</div>
                                            <div class="form-input">
                                                <ion-input type="number" (keyup)="changeDepthTo(toDepth)" maxlength="5" [(ngModel)]="toDepth" formControlName="toDepth"></ion-input>
                                                <span class="unit">ft</span>
                                                <div *ngIf="!pattern1" class="valid-msg">Must be a valid entry eg(22.22)</div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <!--<ion-col class="reduce-col" col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1>
                            <img class="icons-add" src='assets/icon/add-circle.svg' />
                        </ion-col>-->
                    </ion-row>

                    <div class="activity-heading">INTERVAL SAMPLE</div>
                    <ion-row>
                        <ion-col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 class="expand-col">
                            <ion-card class="card-two">
                                <ion-card-content>
                                    <div class="activity-card-content">
                                        <div class="dropdown-container space-right space-right-potrait">
                                            <div class="dropdown-label">Percent Recovered</div>
                                            <div class="form-input">
                                                <ion-input type="number" (keyup)="changePercentRecover(percentRecovered)" minlenght="0" maxlength="3" [(ngModel)]="percentRecovered" formControlName="percentRecovered"></ion-input>
                                                <span class="unit">%</span>
                                                <div *ngIf="!pattern2" class="valid-msg">Must be a valid entry eg(0 to 100)</div>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right">
                                            <div class="dropdown-label">Sampler Type</div>
                                            <div class="form-input">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="sampleType" formControlName="sampleType" interface="popover">
                                                        <ion-option *ngFor="let sampleType of sampleTypeList" class="values" selected="sampleType[0]">{{sampleType}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right-potrait">
                                            <div class="dropdown-label">Lithology</div>
                                            <div class="form-input">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="lithology" formControlName="lithology" interface="popover">
                                                        <ion-option *ngFor="let lithology of lithologyList" class="values" selected="lithology[0]">{{lithology}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right">
                                            <div class="dropdown-label">Color</div>
                                            <div class="form-input">
                                                <ion-input type="text" maxlength="250" [(ngModel)]="color" formControlName="color"></ion-input>
                                                <span class="unit"></span>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right space-right-potrait">
                                            <div class="dropdown-label fix-label-ipad">Moisture</div>
                                            <div class="form-input">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="moistureContent" formControlName="moistureContent" interface="popover">
                                                        <ion-option *ngFor="let moistureContent of moistureContentList" class="values" selected="moistureContent[0]">{{moistureContent}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container">
                                            <div class="dropdown-label">Plasticity</div>
                                            <div class="form-input form-input-ms-dropdown-value">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="plasticity" formControlName="plasticity" interface="popover">
                                                        <ion-option *ngFor="let plasticity of plasticityList" class="values" selected="plasticity[0]">{{plasticity}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right space-right-potrait">
                                            <div class="dropdown-label">Grading</div>
                                            <div class="form-input">
<!--
                                                <ion-input type="text" [(ngModel)]="grading" formControlName="grading"></ion-input>
                                                <span class="unit">%</span>
-->
                                                <ion-item>
                                                    <ion-select [(ngModel)]="grading" formControlName="grading" interface="popover">
                                                        <ion-option *ngFor="let grading of gradingList" class="values" selected="grading[0]">{{grading}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right">
                                            <div class="dropdown-label fix-label-ipad">Sorting</div>
                                            <div class="form-input">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="sorting" formControlName="sorting" interface="popover">
                                                        <ion-option *ngFor="let sorting of sortingList" class="values" selected="sorting[0]">{{sorting}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                        <div class="dropdown-container space-right-potrait">
                                            <div class="dropdown-label">Granular Density</div>
                                            <div class="form-input form-input-ms-dropdown-value">
                                                <ion-item>
                                                    <ion-select [(ngModel)]="density" formControlName="density" interface="popover">
                                                        <ion-option *ngFor="let density of densityList" class="values" selected="density[0]">{{density}}</ion-option>
                                                    </ion-select>
                                                </ion-item>
                                            </div>
                                        </div>

                                    </div>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                    </ion-row>

                    <div class="activity-heading">NOTES</div>
                    <ion-row>
                        <ion-col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11
                         class="expand-col">
                            <ion-card class="textarea-card">
                                <ion-textarea type="text" maxlength="250" rows="2" placeholder="Text" formControlName="notes" [(ngModel)]="notes"></ion-textarea>
                            </ion-card>
                        </ion-col>
                    </ion-row>

                    <!--<ion-row class="bottom-row keyboard-issue-row-height">
                        <ion-col class="bottom-ctls" col-5 col-md-5>
                            <ion-icon class="clock-icon" ios="ios-time" md="md-time"></ion-icon><span class="date-and-time">&nbsp; {{currentDate | async | date:'H:mm'}}&nbsp;<span class="hours">hrs</span> &nbsp;&nbsp;&nbsp; {{currentDate | async | date:'dd MMM y'}}</span>
                        </ion-col>

                        <ion-col col-1 col-md-1 offset-md-1 class="shift-col-40">
                            <button ion-button clear type="reset" class="reset-btn">RESET</button>
                        </ion-col>

                        <ion-col col-1 col-md-1 offset-md-1 class="shift-col-40">
                            <button ion-button clear class="reset-btn">COMPLETE</button>
                        </ion-col>

                        <ion-col col-1 col-md-1 offset-md-1 class="shift-col-90">
                            <button class="cont-btn" (click)="save()" ion-button>SAVE</button>
                        </ion-col>
                    </ion-row>-->

                <ion-row class="last-row">
                  <ion-col col-11 col-md-11 col-sm-11 class="btn-margin" >
                      <div class="btn-outer">
                         <img src="assets/icon/PDF_icon.svg"  class="export-btn" (click)="triggerPDF()">
                           <img src="assets/icon/CSV_Icon.svg"  class="export-btn" (click)="triggerCSV()">
                        <button class="save-btn" (click)="save()" [disabled]="!(soilBoringSampleForm.dirty) || soilBoringSampleForm.invalid || isDisabled" ion-button>SAVE</button>
                        <button ion-button clear (click)="completePopup()" class="reset-btn complete">COMPLETE</button>
                        <button ion-button clear type="reset" (click)="resetValidation()" class="reset-btn2">RESET</button>
                        </div>
                    </ion-col>
                </ion-row>
           
                </form>
            </ion-grid>

        </div>
    </div>
</div>